nodered.json
[{"id":"5502f164ce7b9174","type":"tab","label":"Hello World","disabled":false,"info":"","env":[]},{"id":"f6d731dd716ec3fb","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"get","newchildpath":"","x":390,"y":240,"wires":[["b73c651f6dc1ebea"]]},{"id":"607e65d9b0aa1662","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["f6d731dd716ec3fb"]]},{"id":"b73c651f6dc1ebea","type":"debug","z":"5502f164ce7b9174","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"d3063ad8fddebcf6","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"false","childpath":"/test/room","propertyType":"str","method":"set","newchildpath":"","x":390,"y":340,"wires":[[]]},{"id":"e39981c284464538","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["d3063ad8fddebcf6"]]},{"id":"3f16c5d44aeadded","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":460,"wires":[["1ddee8bcec137a3b"]]},{"id":"bf6294e2900f0438","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":500,"wires":[["1ddee8bcec137a3b"]]},{"id":"1ddee8bcec137a3b","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"8","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":330,"y":460,"wires":[]},{"id":"7e8a9fb6518c94fa","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":600,"wires":[["7e99cb6580f0aec1"]]},{"id":"ed2e5edde2ce7e0d","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":640,"wires":[["7e99cb6580f0aec1"]]},{"id":"7e99cb6580f0aec1","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"9","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":330,"y":600,"wires":[]},{"id":"656b5654bbb4f1a3","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":700,"wires":[["2ce51c8a5cb73aa2"]]},{"id":"25aca06e9bebd088","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":740,"wires":[["2ce51c8a5cb73aa2"]]},{"id":"2ce51c8a5cb73aa2","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"10","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":330,"y":740,"wires":[]},{"id":"f16be31527d15c5b","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":510,"y":460,"wires":[["74d3362e791e07b8"]]},{"id":"b72de70965b7d870","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":510,"y":500,"wires":[["74d3362e791e07b8"]]},{"id":"74d3362e791e07b8","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"2","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":710,"y":480,"wires":[]},{"id":"e63a44846fce482d","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":510,"y":600,"wires":[["a8ed02ef55939675"]]},{"id":"c189a02775986aac","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":510,"y":640,"wires":[["a8ed02ef55939675"]]},{"id":"a8ed02ef55939675","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"3","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":710,"y":600,"wires":[]},{"id":"40e9a26e8652f011","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":510,"y":700,"wires":[["c0f8471331ade2b4"]]},{"id":"41573a0e89576a6a","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":510,"y":740,"wires":[["c0f8471331ade2b4"]]},{"id":"c0f8471331ade2b4","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"4","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":710,"y":720,"wires":[]},{"id":"65329634573615ca","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":870,"y":460,"wires":[["dba6d1502bcdb21b"]]},{"id":"e93d10b8efc8b042","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":870,"y":500,"wires":[["dba6d1502bcdb21b"]]},{"id":"dba6d1502bcdb21b","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"5","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":1070,"y":480,"wires":[]},{"id":"0161e0d41abfee82","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":870,"y":600,"wires":[["3f6c3cb706c92949"]]},{"id":"6827986bb947b303","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":870,"y":640,"wires":[["3f6c3cb706c92949"]]},{"id":"3f6c3cb706c92949","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"6","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":1070,"y":600,"wires":[]},{"id":"bcbfdfd048d2173b","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":870,"y":700,"wires":[["32a5a53447c1e183"]]},{"id":"4c35bf4776ecf632","type":"inject","z":"5502f164ce7b9174","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":870,"y":740,"wires":[["32a5a53447c1e183"]]},{"id":"32a5a53447c1e183","type":"arduino out","z":"5502f164ce7b9174","name":"","pin":"7","state":"OUTPUT","arduino":"8afa3f694bb0e46d","x":1070,"y":720,"wires":[]},{"id":"d067796087bc9451","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d8","propertyType":"str","method":"get","newchildpath":"","x":130,"y":420,"wires":[["1ddee8bcec137a3b"]]},{"id":"b9e4a9e7b7979f5e","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d2","propertyType":"str","method":"get","newchildpath":"","x":510,"y":420,"wires":[["74d3362e791e07b8"]]},{"id":"e663b59c050dfee9","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d5","propertyType":"str","method":"get","newchildpath":"","x":870,"y":420,"wires":[["dba6d1502bcdb21b"]]},{"id":"fe08fefaa028faa6","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d10","propertyType":"str","method":"get","newchildpath":"","x":130,"y":780,"wires":[["2ce51c8a5cb73aa2"]]},{"id":"ff205fda87251c80","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d4","propertyType":"str","method":"get","newchildpath":"","x":510,"y":780,"wires":[["c0f8471331ade2b4"]]},{"id":"3293d4c7b6954044","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d7","propertyType":"str","method":"get","newchildpath":"","x":870,"y":780,"wires":[["32a5a53447c1e183"]]},{"id":"99a080a89ef2dd79","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d9","propertyType":"str","method":"get","newchildpath":"","x":130,"y":560,"wires":[["7e99cb6580f0aec1"]]},{"id":"2056052022f5fe8b","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d3","propertyType":"str","method":"get","newchildpath":"","x":510,"y":560,"wires":[["a8ed02ef55939675"]]},{"id":"4e1409fc6eac7727","type":"addFirebase","z":"5502f164ce7b9174","firebaseCertificate":"935be5586f70c5f6","client_email":"","private_key":"","data":"","childpath":"/test/d6","propertyType":"str","method":"get","newchildpath":"","x":870,"y":560,"wires":[["3f6c3cb706c92949"]]},{"id":"935be5586f70c5f6","type":"firebaseCertificate","firebaseurl":"fcmflutter-10c50","loginType":"jwt"},{"id":"8afa3f694bb0e46d","type":"arduino-board","device":"/dev/tty.usbserial-A100DRGF"}]